@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shiftUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-65px);
  }
}

@keyframes shiftDown {
  from {
    transform: translateY(-65px);
  }
  to {
    transform: translateY(0px);
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.content {
  display: flex;
  margin-top: 5rem;
}

.leftSection,
.rightSection {
  width: 100%;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  :global .MuiFormControl-root {
    width: 65%;
  }
}

.image {
  width: 90%;
}

.SignUpbtn {
  font-size: 1.2rem;
}

.SignInBtn {
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;
}

.inputComp {
  display: block;
}

.hide {
  animation: hide 0.5s forwards;
}

.show {
  animation: show 0.5s forwards;
}

.animateContainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shiftUp {
  animation: shiftUp 0.5s 0.1s forwards;
}

.shiftDown {
  animation: shiftDown 0.5s forwards;
}
