@import "../../styles/variables.scss";

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shiftUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-65px);
  }
}

@keyframes shiftUpM {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes shiftDown {
  from {
    transform: translateY(-65px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes shiftDownM {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(20px);
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.content {
  display: flex;
  margin-top: 8rem;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.leftSection,
.rightSection {
  width: 100%;
}

.leftSection {
  @include respond(tab-port) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  :global .MuiFormControl-root {
    width: 65%;
  }
}

.image {
  width: 90%;
  @include respond(tab-port){
    width: 50%;
  }
}

.SignUpbtn {
  font-size: 3rem;
  margin-bottom: 1rem;
  @include respond(tab-port){
    font-size: 4rem;
  }
}

.SignInBtn {
  font-size: 2rem;
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;

  @include respond(tab-port){
    font-size: 3rem;
  }
}

.inputComp {
  display: block;
}

.textField {
  font-size: 2rem;
  :global .MuiInputBase-input {
    font-size: 2rem;
    @include respond(tab-port){
      font-size: 3rem;
    }
  }
  :global .MuiFormHelperText-root {
    font-size: 2rem;
    @include respond(tab-port){
      font-size: 3rem;
    }
  }
  :global .MuiFormLabel-root {
    font-size: 2rem;
    @include respond(tab-port){
      font-size: 3rem;
    }
  }
  @include respond(tab-port){
    font-size: 3rem;
  }
}

.hide {
  animation: hide 0.5s forwards;
}

.show {
  animation: show 0.5s forwards;
}

.animateContainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shiftUp {
  @include respond(tab-port) {
    animation: shiftUpM 0.5s 0.1s forwards;
  }
  animation: shiftUp 0.5s 0.1s forwards;
  
}

.shiftDown {
  @include respond(tab-port) {
    animation: shiftDownM 0.5s 0.1s forwards;
  }
  animation: shiftDown 0.5s forwards;
  
}
