@import "../../styles/main.scss";
@import "../../styles/variables.scss";
.body {
  background-image: url("../../images/intro-large.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include respond(big-desk){
    background-image: url("../../images/intro-larger.jpg");
  }
  @include respond(tab-land){
    background-image: url("../../images/intro-medium.jpg");
  }
  @include respond(tab-port){
    background-image: url("../../images/intro-small.jpg");
  }
}

.banner {
  font-size: 5rem;
  color: $color-primary;
  user-select: none;
  font-weight: lighter;
}
.subHeading {
  color: $color-primary;
  font-size: 2rem;
  user-select: none;
}

.btn {
  font-size: 2rem !important;
  margin-right: 2rem;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.midSection {
  align-self: center;
  justify-self: center;

  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

.bottomSection {
  font-family: "Titillium Web", sans-serif;
  align-self: center;
  justify-self: baseline;
  position: absolute;
  bottom: 1px;
  word-spacing: 0.5rem;
  user-select: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin: 0 0.8rem;
}

.link {
  text-emphasis: none;
  text-decoration: none;
  color: black;
  margin-left: .5rem;
  border-bottom: 3px solid $color-primary;
  line-height: 2rem;
}