@import "../../../../styles/variables.scss";

.body {
  position: relative;
  font-size: 5rem;
}
.close,
.done {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  cursor: pointer;
  @include respond(tab-port) {
    font-size: 3.5rem !important;
  }
}

.edit {
  font-size: 2rem !important;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 2rem;

  @include respond(tab-port) {
    font-size: 3rem !important;
    top: 4rem;
  }
}

.textField {
  font-size: 2rem;
  :global .MuiInputBase-input {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  :global .MuiFormHelperText-root {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  :global .MuiFormLabel-root {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  @include respond(tab-port) {
    font-size: 3rem;
  }
}

.btnContainer {
  position: absolute;
  width: 6rem;
  height: 4rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(tab-port) {
    top: 3.5rem;
    width: 8rem;
  }
}
