.title {
  font-size: 1.5rem;
}

.body {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  :global .MuiTypography-root {
    font-size: 1.5rem;
  }
  :global .MuiButton-label {
    font-size: 1.5rem;
  }
}
.input {
  width: 100%;
  font-size: 2rem;
  :global .MuiInputBase-input {
    padding: 1rem;
    font-size: 2rem;
    line-height: 2rem;
  }

  :global .MuiFormHelperText-root {
    font-size: 2rem;
  }
  :global .MuiFormLabel-root {
    font-size: 2rem;
  }
}

.title {
  margin-bottom: 2rem !important;
  width: 75%;
  font-size: 2rem;
  :global .MuiInputBase-input {
    font-size: 2rem;
    line-height: 2rem;
  }

  :global .MuiFormHelperText-root {
    font-size: 2rem;
  }
  :global .MuiFormLabel-root {
    font-size: 2rem;
  }
}

.btnContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
