@import url("https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i&display=swap");
html {
  font-family: "Caveat", cursive;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.rootLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.adjustView {
  width: 100%;
  margin-top: 5rem;
}
