@import "../../styles/variables.scss";
.container {
  color: $color-primary;
  width: fit-content;
  user-select: none;
}

.text {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 82%;
    left: 0;
    border: 1px solid $color-primary;
    width: 100%;
  }
}
.large {
  font-size: 5rem;
  @include respond(tab-port) {
    font-size: 6rem;
  }
}

.small {
  font-size: 2.5rem;
}
