.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  background-color: white;
  outline: none;
  padding: 2rem;
  border-radius: 1rem;
  font-family: "Titillium Web", sans-serif;
}
