@import "../../styles/variables.scss";

.body {
  position: relative;
}
.searchBar {
  width: 30rem;
  min-height: 2.5rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 5rem;
  border: 1px solid $color-primary;
  padding: 0.2rem 1rem;
  transition: all 0.2s;
  &:active,
  &:focus {
    width: 32rem;
  }
}

.searchSvg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
