@import "../../../../styles/variables.scss";
@keyframes shiftDown {
  from {
    display: none;
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes shiftDownM {
  from {
    display: none;
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(2rem);
  }
}

.body {
  font-size: 5rem;
  position: relative;
}

.oldPass {
  z-index: 2;
}

.oldPass,
.newPass {
  width: 100%;
  position: relative;
}

.newPass {
  transform: translateY(-5rem);
  opacity: 0;
}

.show {
  animation: shiftDown 0.3s forwards;
  @include respond(tab-port){
    animation: shiftDownM 0.3s forwards;
  }
}
.edit {
  font-size: 2rem !important;
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
  @include respond(tab-port) {
    font-size: 3rem !important;
    top: 4rem;
  }
}

.textField {
  font-size: 2rem;
  :global .MuiInputBase-input {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  :global .MuiFormHelperText-root {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  :global .MuiFormLabel-root {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  @include respond(tab-port) {
    font-size: 3rem;
  }
}
