.body {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marginBottom {
  margin-bottom: 1rem;
}
.logoContent {
  margin: 0 auto;
}
