@import "../../styles/variables.scss";
.body {
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0rem 1rem;
  box-shadow: -2px 0px 5px rgba(#0000, 0.2);
  overflow-x: hidden;
  overflow-y: scroll;
}

.topbar {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 90%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-primary;
  :global .MuiInputBase-input {
    padding: 0;
  }
  :global .MuiInput-underline:before {
    display: none;
  }
  :global .MuiInput-underline:after {
    display: none;
  }
}

.topPadding{
  height: 5rem;
}